<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <title>{% block title %}{% endblock %}</title>
</head>
<style>
    body{
    background: rgb(0,36,1);
    background: linear-gradient(90deg, rgba(0,36,1,1) 0%, rgba(91,127,255,1) 0%, rgba(182,198,255,1) 45%, rgba(228,238,255,1) 98%, rgba(240,248,255,1) 100%);
</style>
<body>
<style>
    nav{
        background-color: white;
    }

</style>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style = "border-bottom: 1px solid black">
      <a class="navbar-brand" href="">IT CLI</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Общее</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'analisus' %}">Аналитика</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'send' %}">Рассылка</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'manage' %}">Управление</a>
            </li>
        </ul>
      </div>
    </nav>
{% block content %}

{% endblock %}
</body>
</html>